

video {
    width: 10%;
    height: auto;
    display: none;
}


/*new*/
.avatar {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
}

.avatar-wrapper {
    /*display: inline-block;*/
    /*max-height: 140px;*/
    /*min-width: 140px;*/
}

#leaveButton {
    display: none;
}

.data-node {
    display: inline-block;
    margin-bottom: 2rem;
}

/*//pulse*/

.blob {
    box-shadow: 0 0 0 0 rgba(142, 145, 244, 1);
    animation: pulse-red 2s infinite;
    border-radius: 50%;
    transform: scale(1);
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 145, 244, 0.9);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(142, 145, 244, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(142, 145, 244, 0);
    }
}

.join-button {
    width: 159px;
    text-align: center;
    height: 42px;
    box-shadow: 0 4px 15px rgba(69.10, 71.10, 137.06, 0.12);
    border-radius: 10px;
    border: 2px solid rgba(142, 145, 244, 1);
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.leave-button {
    width: 159px;
    text-align: center;
    height: 42px;
    box-shadow: 0 4px 15px rgba(69.10, 71.10, 137.06, 0.12);
    border-radius: 10px;
    border: 2px solid rgb(244, 0, 50);
    /*display: flex;*/
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.join-button p {
    font-size: 18px;
    font-weight: 700;
    color: rgba(142, 145, 244, 1);
    margin: 0;
}
.leave-button p {
    font-size: 18px;
    font-weight: 700;
    color: rgb(244, 22, 3);
    margin: 0;
}

.widget-buttons {
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin-left: 32px;
    margin-right: 32px;
    bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.widget-fab {
    width: 40px;
    height: 40px;
    background-color:transparent;
    border-width: 0;
    display: inline-block;
}